/**
 *
 * {{ properCase componentName }}
 *
 * @version 1.0.0
 * @author {{uname}}
 * @since {{since}}
 */

import React from 'react';
{{#isPresent options 'props'}}
import PropTypes from 'prop-types';
{{/isPresent}}
import styles from './styles.js';
{{#isPresent options 'lang'}}
import formattedMessage from './languageModule';
{{/isPresent}}


{{#equal componentType 'Classes'}}
class {{ properCase componentName }} extends React.PureComponent {
  render() {
    const classes = styles();
    return (
      <>
        <p>Render Component</p>
      </>
    );
  }
}
{{else}}
const {{ properCase componentName }} = {{#if wantPropTypes}}props{{else}}(){{/if}} => {
  const classes = styles();
  return (
    <>
      <p>Render Component</p>
    </>
  );
};
{{/equal}}

{{#isPresent options 'props'}}
{{ properCase componentName }}.propTypes = {
  // Add here some propTypes
  // and set a minimal description i.e.
  /** Description of prop "baz". */
};

{{ properCase componentName }}.defaultProps = {
  // Add here some default propTypes values
};
{{/isPresent}}

export default {{#if hasMemo}}React.memo({{/if}}{{ properCase componentName }}{{#if hasMemo}}){{/if}};
